<odoo>
    <data>
        <menuitem id="professional_function_menu" name="Solicitudes" parent="professional_register_menu" sequence="2"/>
        <menuitem id="professional_function_create_menu" name="Generar solicitud" parent="professional_function_menu"
                  sequence="1" action="open_create_professional_request_minimal"
                  groups="security.group_professional_register_employee,security.group_professional_editor,security.group_professional_superadmin,security.group_professional_reigster_managment"/>
        <menuitem id="professional_function_tree_menu" name="Inscripción" parent="professional_function_menu"
                  sequence="2" action="professional_request_act_window"/>
        <menuitem id="inscription_function_menu" name="Inscripciones" parent="inscription_menu" sequence="2"
                  action="inscription_act_window"/>
        <menuitem id="profile_register_menu" name="Mi Perfil"
                  web_icon="professional_registers/static/description/icon_profile.png"
                  groups="security.group_professional_client,security.group_professional_client_online"/>
        <menuitem id="profile_menu" name="Perfil" parent="profile_register_menu" sequence="1"
                  action="profile_act_window"/>
        <menuitem id="process_menu2" name="Solicitudes" parent="profile_register_menu" sequence="2"
                  groups="security.group_professional_client_online,security.group_professional_client"/>
        <menuitem id="process_menu3" name="Inscripción" parent="process_menu2" sequence="2"
                  action="professional_request_act_window"
                  groups="security.group_professional_client_online,security.group_professional_client"/>
        <menuitem id="process_menu" name="Procesos" parent="profile_register_menu" sequence="3"
                  action="professional_request_profile1_act_window"
                  groups="security.group_professional_client,security.group_professional_client_online"/>



        <menuitem id="menu_professional_request_update"
                  name="Actualizaciones"
                  parent="professional_function_menu"
                  action="action_professional_request_update"
                  sequence="20"/>

        <menuitem id="menu_professional_request_update_profile" name="Actualizaciones" parent="process_menu2"
                  sequence="22"
                  action="action_professional_request_update"
                  groups="security.group_professional_client_online,security.group_professional_client"/>


        <menuitem id="menu_professional_claim_update"
                  name="Reclamaciones"
                  parent="professional_function_menu"
                  action="claim_request_action"
                  sequence="21"/>

        <menuitem id="menu_professional_request_claim_profile" name="Reclamaciones" parent="process_menu2"
                  sequence="23"
                  action="claim_request_action"
                  groups="security.group_professional_client_online,security.group_professional_client"/>

                <!-- Acciones de menú -->
        <menuitem id="menu_process_control" name="Control de Trámites"
                  parent="professional_register_menu" sequence="30"
                  groups="security.group_professional_superadmin"/>
        <menuitem id="menu_stop_process" name="Detener/Reanudar Procesos"
                  parent="menu_process_control" action="action_stop_process" sequence="1"/>




    </data>
</odoo>