<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
            <menuitem id="generals_menu" name="Generales" parent="security_menu"  sequence="2"/>
            <menuitem id="states_menu" name="Estados" parent="generals_menu"  sequence="1" action="configuration_state_action" />
            <menuitem id="roles_menu" name="Roles" parent="generals_menu"  sequence="5" action="roles_action" />
            <menuitem id="user_menu" name="Usuarios" parent="generals_menu"  sequence="2" action="security.user_action_window" />
            <menuitem id="user_client_menu" name="Usuarios de clientes" parent="generals_menu"  sequence="3" action="security.user_client_action_window" />
            <menuitem id="company_menu" name="Compañía" parent="generals_menu"  sequence="4" action="base.action_res_company_form"/>
            <menuitem id="options_menu" name="Opciones" parent="generals_menu"  sequence="5" action="options_action" />
            <menuitem id="clear_registers_menu" name="Borrar en BD" parent="generals_menu"  sequence="6" action="action_clear_registers_wizard" />

            <menuitem id="permits_menu" name="Permisos" parent="security_menu" sequence="3"/>
            <menuitem id="permit_state_menu" name="Permisos por Estado" parent="permits_menu" sequence="3" action="permit_state_action"/>
            <menuitem id="permit_options_menu" name="Permisos por Opciones" parent="permits_menu" sequence="1" action="permits_option_action"/>
            <menuitem id="permit_roles_menu" name="Permisos por Roles" parent="permits_menu" sequence="2" action="permits_roles_action"/>
            <menuitem id="traces_menu" name="Trazas" parent="security.security_menu" sequence="4" action="traces_act_window"/>
            <menuitem id="parameters_fuc" name="Configuración FUC" parent="security.security_menu" sequence="5" action="configure_keys_act_window" groups="base.group_erp_manager"/>
            <menuitem id="messages_menu_root" name="Mensajes" web_icon="security,static/description/icon_message.png" groups="base.group_erp_manager,security.group_professional_editor"/>
                <menuitem id="messages_menu" name="Mensajes" parent="security.messages_menu_root" sequence="1" action="mail.action_view_mail_message"/>
    </data>
</odoo>